body {
    background-color:white;
    font-family: 'Prata', serif;
    margin: 0;
    padding: 0;
}

.container {
    width: 1024px;
    height: 768px;
    margin: 0 auto;
}

/******* Top Bar *******/

.bar {
    width: 1024px;
    height: 17px;
    background-color: #AD0000;
}

/******* Right and Left *******/

.right {
    display: flex;
    justify-content: flex-end;
    position: relative;
    z-index: 30;
}

.left {
    margin-left: 100px;
    z-index: 30;
}

.content {
    display: flex;
    justify-content: flex-end;
}

/******** Number and Button *******/

.number-container {
    display: flex;
    position: absolute;
    z-index: 30;
}

.number-container h1 {      /*   5   */
    font-size: 736px;
    left:575px;  
    right: 3px;  
    margin-top: -8px;
    font-weight: normal;
}

#button {               /*  circle  */
    background-color: #AD0000;
    width: 52px;
    height: 52px;
    border-radius:50%;
    top: 620px;
    right: 230px;
    position: absolute;
    z-index: 50;
}

#button:hover {
    background-color: #780000; 
}

.analysis {
    position: absolute;
    z-index:20;
    top: -31px;
    left: -12px;
    opacity: .6;
}

/******* Text *******/

.text h2 {
    font-size: 30px;
    margin-top: 169px;
    font-weight: normal;
}

.text p {
    font-size: 14px;
    margin-top: 23px;
    margin-right: 509px;
}

/******* Name and Picture *******/
.name-picture h3, h4 {
    margin-left: 11px;
    font-weight: normal;
}

.name-picture h3 {
    margin-top: 74px;
    font-size: 14px;
}

.name-picture h4 {
    margin-top: -11px;
    align-items: baseline;
    font-size: 12px;
}

.name-picture img {
    width: 65px;
    height: 65px;
    margin-top: 44px;
}

.flexy-box {
    display: flex;
    align-items: flex-start;
    
}

a {
    color: #AD0000;
    
    
}

a:visited {
    color: #AD0000;
}

/******* Number Samples *******/

.samples {
    font-size: 30px;
    letter-spacing: 6px;
    margin-top: 64px;
    width: 365px;
    overflow: auto;
    white-space: nowrap;
}


.samples::-webkit-scrollbar {
    width: 365px;
    height: 10px;
    
}

.samples::-webkit-scrollbar-track {
    background-clip: content-box;
    border: 4px solid white;
    background: black;
}

.samples::-webkit-scrollbar-thumb {
    background-color: #AD0000;
}

.samples::-webkit-scrollbar-thumb:hover{
    background-color: #780000;
}

/******* Sources *******/

.sources h3, .sources p {
    font-size: 8px;
    margin-right: 533px;
    margin-bottom: -5px;
}

.sources h3 {
    margin-top: 64px;
}