*{
    margin: auto;
    padding: 0;
}

.navbar{
    width: 100%;
    height: 2.5rem;
    background-color: #CCD3C1;
    margin-top: 0;
    position: fixed;
    z-index: 1;
    display: flex;
}


.regina{
    font-size: 1.25rem;
    text-align: left;
    margin-left: 1rem;
    margin-top: .5rem;
}


* {
    padding: 0;
    margin: 0;
}

body {
    font-family: "Lato", sans-serif;
}


#hamburger-menu {
    position: absolute;
    right: 10px;
    top: 0;
    padding: 10px;
    font-size: 30px;
    cursor: pointer;
    color: white;
    padding-top: 0;
    margin-top: -2px;
}

#hamburger-menu:hover {
    color: #E38F73;
}


.sidenav {
    height: 100%;
    width: 100vw;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: #CCD3C1;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    padding-left: ;
    text-align: 
}

.sidenav a {
    text-decoration: none;
    font-size: 1.6rem;
    color: white;
    display: block;
    transition: 0.3s;
    padding-bottom: 2rem;
    padding-left: 2rem;
}

.sidenav a:hover {
    color: #E38F73;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 38px;
    margin-left: 50px;
}


.content{
    padding-top: 2.5rem;
}

.title{
    padding: 1.5rem;
}

p{
    font-size: 1rem;
    font-weight: 200;
    padding: 1.5rem;
    padding-top: 0;
    line-height: 1.3em;
}

h3{
    padding: 1.5rem;
    font-size: 1.5rem;
    text-align: center;
    letter-spacing: .1rem;
}

.pic img{
    margin-bottom: 1rem;
    width: 100%;
    height: auto;
}

.container{

}


@media only screen and (min-width:600px){
    
    .container{
        align-content: center;
        align-items: center;
    }
    
    .pic img{
        width: 100%;
        height: auto;
        align-content: center;
        align-items: center;
        
    }
    
    .title,
    p,
    h3{
        padding-left: 0;
        padding-right: 0;
    }
    
    .content{
        padding-top: 10%;
        padding-left: 6.5%;
        padding-right: 6.5%;
    }
    
    
    
    .title{
        margin-top:0;
        margin-left: 0;
        width: auto;
        font-size: 1.8rem;
    }
    
    p{
        font-size: 1.1rem;
        font-weight: 200;
        color: gray;
        line-height: 1.3em;
    }
    
    .navbar{
        margin-left: 0;
        display: flex;
        justify-content: center;
        margin-right: 3%;
        padding-top: 0;
    }

    .regina{
        font-size: 1.3rem;
        margin:0;
        margin-left: 3%;
        margin-top: .5rem;
        position: absolute;
        left: 0;
    }
    
    h3{
        font-size: 1.3rem;
        font-weight: 600;
        padding-bottom: 2rem;
    }
    
    .nameb{
        text-align: left;
        left: 0;
        position: absolute
    }
    
    .socialmedia{
        position: absolute;
        right: 0;
        
    }
    

}



@media only screen and (min-width:960px){
    
    .navbar{
        z-index: 1
    }
    
    .picture{
        margin-left: 0;
/*        width: auto;*/
        height: 23rem;
    }
    .content{
        padding: 0;
    }
    .mainpic img{
        width: 100%;
        height: auto;
        padding: 0;
        margin: 0;
        z-index: -1;
    }

    
    .title{
        padding-top: 3rem;
        font-size: 1.5rem;
        text-align: center;
    }
    
    .container{
        display: flex;
        margin-left: 10%;
        margin-right: 10%;
        margin-bottom: 3rem;
        
    }
    
    .summary{
        padding-bottom: 3rem;
        width: 70%;
        padding-left: 15%;
        padding-right: 15%;
    }
    
    p{
        padding-bottom: 1rem;
        font-size: 1.3rem;
        font-weight: 200;
        line-height: 1.3em;
        color: grey;
    }
    
    .flex{
        display: flex;
        align-items: flex-start;
    }
    
    .paragraph{
        width: 60%;
        padding-bottom: 3rem;
        padding-left: 20%;
        padding-right: 20%;
    }
    
    

}